/******************************************************************************************* *****************************/

@media screen and (max-width: 1000px){
    .position1{display: none;}
    .position6{display: none;}
    .idfacebook{display: none;} 
    .cadreblanc{display: none;} 
    .SOLDK{display: none;} 
    .headbar{display: none;} 
    .cerclenotif{display: none;}
    .contain{display: none;}


    .position0 {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 929px;
        height: 180px;
        z-index: 8000;

    }

    .MENU{ 
        position: absolute;
        left: 55px;
        top: 175px;
        width: 800px;
        height: 42px;
        background-color: #c52821;
        font-size: 11px;
        font-family: "HelveticaNeueLTStd";
        color: #fff;
        line-height: 1.2;
        text-align: left;
        text-shadow: 0 1px 0 rgba(57, 57, 57, 0.004);
        -moz-transform: matrix(1.16555689978784, 0, 0, 1.16555689978784, 0, 0);
        -webkit-transform: matrix(1.16555689978784, 0, 0, 1.16555689978784, 0, 0);
        -ms-transform: matrix(1.16555689978784, 0, 0, 1.16555689978784, 0, 0);
        z-index: 2000;
    }


    .contenudetemplate{
        position: relative;
        margin-right: 0px;
        margin-left: 0px;
        padding: 0;
        top: -10px;
    }




    .position7 {display: none;}

    .publicitenumero1 {
        position: relative;
        margin-top: 10px;
        /*        float: right;*/
        /*        left: 635px*/
    }

    .publicitenumero2{

        position: relative;
        margin-top: 0;
        /*        left: 330px;*/
        top: 180px
    }
    .publicitenumero3{
        position: relative;
        top: 100px;
        clear: right;
        /* left: 0px; */
        float: left;
    }


    .Forside___Debat___Politik___Samfund___Indenrigs{
        font-size: 11px;
        font-family: "HelveticaNeueLTStd";
        color: #4d4d4d;
        line-height: 1.2;
        text-align: left;
        position: absolute;
        padding-left: 20px;
        z-index: 399;
        top: 190px;
    }


    #getFixed {
        padding: 10px;
        margin: 10px;
        z-index: 50000;
        margin-top: -80px;
    }
    .articlepositionA {
        position: absolute;
        width: 310px;
        height: 310px;
        top: 1505px;
        left: 0px;
        background-color: #e0e0e0;
    }
    .articleposition12 {
        position: absolute;
        width: 315px;
        height: 103px;
        top: 1845px;
        left: 0px
    } 

    .articleposition14 {
        position: absolute;
        width: 315px;
        height: 102px;
        top: 1932px;
        left: 0px
    }

    .contenudebat{  max-width: 600px;}

    .position12 {
        position: absolute;
        left: 625px;
        top: 1300px;
        width: 300px;
        height: 251px;
        z-index: 8000;
    }

    .position11 {
        position: absolute;
        left: 625px;
        top: 600px;
        width: 300px;
        height: 251px;
        z-index: 8000;
    }

    .position13 {
        position: absolute;
        left: 625px;
        top: 1650px;
        width: 300px;
        height: 251px;
        z-index: 8000;
    }
    .senestredebatt{display: none;}
    .stylepourchaquedebat{max-width: 600px;}

}