 

@media screen and (max-width: 1152px) {
    .so,.position6,.position22 { display: none}

.quick_search {
  text-align: center;
  padding: 14px 0 10px 0;
  left: 156px;
  top: 27px;
  width: 174px;
  height: 26px;
  z-index: 3280000;
  position: fixed;
}

    .stylebuttonpartageetrss,.idfacebook,.SOLDK,.Debat,.cerclenotif,#notifid,.Mail_copy,.Profile{ display: none}
    contenudetemplate {
        position: relative;
        width: 100%; 
        padding: 0;
    }
    .senestredebattelement{ display: none}

    
 
    .publicitenumero4 {
        position: relative;
         left: -2px;
        top: 110px;
        clear: right;
        float: right;
    }


    .publicitenumero5 {
        position: relative;
        left: -2px;
        top: 120px;
        clear: right;
        float: right;
    }


    .publicitenumero6 {
        position: relative;
         left: -2px;
        top: 130px;
        clear: right;
        float: right;
    }

    .publicitenumero7 {
        position: relative;
          left: -2px;
        top: 140px;
        clear: right;
        float: right;
    }

    .publicitenumero8 {
        position: relative;
         left: -2px;
        top: 150px;
        clear: right;
        float: right;
    }

}