#SITE {
  position: absolute;
  left: 0px;
  top: 0px;
  /*width: 1280px;
  height: 2799px;*/
  z-index: 253;
}
#HEADER {
  position: absolute;
  left: 0px;
  top: 0px;
 /* width: 1280px;
  height: 2799px;*/
  z-index: 252;
}
#PROFILE {
  position: absolute;
  left: 0px;
  top: 0px;
  /*width: 1280px;
  height: 2799px;*/
  z-index: 351;
}
#Profile {
  background-image: url("Profile.png");
  position: absolute;
  left: 779px;
  top: 28px;
  width: 35px;
  height: 43px;
  z-index: 348;
}
#OPRET_PROFIL_LOGIN {
  font-size: 12px;
  font-family: "HelveticaNeueLTStd";
  color: rgb(255, 255, 255);
  line-height: 1.667;
  text-align: right;
  text-shadow: 0px 1px 0px rgba(57, 57, 57, 0.004);
  position: absolute;
  left: 681.937px;
  top: 25.99px;
  z-index: 547;
}
 
#EMAIL {
  position: absolute;
  left: 0px;
  top: 0px;
  /*width: 1280px;
  height: 2799px;*/
  z-index: 245;
}
#_2 {
  font-size: 14px;
  font-family: "HelveticaNeue";
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  -moz-transform: matrix( 1.35990046957245,0,0,1.35990046957246,0,0);
  -webkit-transform: matrix( 1.35990046957245,0,0,1.35990046957246,0,0);
  -ms-transform: matrix( 1.35990046957245,0,0,1.35990046957246,0,0);
  position: absolute;
  left: 940.566px;
  top: 20.6px;
  z-index: 244;
}
#Button_copy {
  background-image: url("Button copy.png");
  position: absolute;
  left: 931px;
  top: 17px;
  width: 27px;
  height: 27px;
  z-index: 343;
}
#Mail_copy {
  background-image: url("Mail copy.png");
  position: absolute;
  left: 894px;
  top: 34px;
  width: 51px;
  height: 35px;
  z-index: 342;
}
#EMAIL {
  font-size: 12px;
  font-family: "HelveticaNeueLTStd";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: left;
  text-shadow: 0px 1px 0px rgba(57, 57, 57, 0.004);
  position: absolute;
  left: 848.937px;
  top: 46.3px;
  z-index: 541;
}
#DEBATE {
  position: absolute;
  left: 0px;
  top: 0px;
  /*width: 1280px;
  height: 2799px;*/
  z-index: 239;
}
#Debat {
  background-image: url("Debat.png");
  position: absolute;
  left: 1034px;
  top: 33px;
  width: 73px;
  height: 41px;
  z-index: 538;
}


#DEBATMot {
 
  font-size: 12px;
  font-family: "HelveticaNeueLTStd";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: left;
  text-shadow: 0px 1px 0px rgba(57, 57, 57, 0.004);
  position: absolute;
  left: 986.937px;
  top: 46.3px; 
  z-index: 336;
}

 
#SEARCH {
  position: absolute;
  left: 0px;
  top: 0px;
  /*width: 1280px;
  height: 2799px;*/
  z-index: 234;
}
#GOOGLE {
  font-size: 12px;
  font-family: "HelveticaNeueLTStd";
  color: rgb(197, 40, 33);
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 511.937px;
  top: 43.8px;
  z-index: 333;
}
#Button_copy_2 {
  background-image: url("Button copy 2.png");
  position: absolute;
  left: 502px;
  top: 39px;
  width: 73px;
  height: 24px;
  z-index: 332;
}
#SOL {
  font-size: 12px;
  font-family: "HelveticaNeueLTStd";
  color: rgb(197, 40, 33);
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 442.105px;
  top: 43.8px;
  z-index: 331;
}
#Button {
  background-image: url("Button.png");
  position: absolute;
  left: 420px;
  top: 39px;
  width: 73px;
  height: 24px;
  z-index: 330;
}
#Hvad{
  font-size: 12px;
  font-family: "HelveticaNeueLTStd";
  color: rgb(164, 164, 164);
  line-height: 1.2;
  text-align: left;
  -moz-transform: matrix( 0.79214139227058,0,0,0.79214139227058,0,0);
  -webkit-transform: matrix( 0.79214139227058,0,0,0.79214139227058,0,0);
  -ms-transform: matrix( 0.79214139227058,0,0,0.79214139227058,0,0);
  position: absolute;
  left: 242.671px;
  top: 43.256px;
  z-index: 329;
}
#text_field {
  background-image: url("text field.png");
  position: absolute;
  left: 236px;
  top: 37px;
  width: 174px;
  height: 26px;
  z-index: 328;
}
#Sol_logo {
  background-image: url("Sol logo.png");
  position: absolute;
  left: 134px;
  top: 5px;
  width: 85px;
  height: 86px;
  z-index: 326;
}
#Navigation_Bar {
  background-image: url("Navigation Bar.png");
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1280px;
  height: 96px;
  z-index: 325;
}
#SLIDESHOW {
  position: absolute;
  left: 0px;
  top: 0px;
  /*width: 1280px;
  height: 2799px;*/
  z-index: 223;
}
#NEXT {
  position: absolute;
  left: 0px;
  top: 0px;
  /*width: 1280px;
  height: 2799px;*/
  z-index: 222;
}
#Shape_23_copy_2 {
  border-radius: 50%;
  background-color: rgb(197, 40, 33);
  position: absolute;
  left: 1082px;
  top: 281px;
  width: 11px;
  height: 11px;
  z-index: 221;
}
#Shape_23_copy {
  border-radius: 50%;
  background-color: rgb(197, 40, 33);
  position: absolute;
  left: 1063px;
  top: 281px;
  width: 11px;
  height: 11px;
  z-index: 220;
}
#Shape_23 {
  border-radius: 50%;
  background-color: rgb(255, 54, 54);
  position: absolute;
  left: 1042px;
  top: 281px;
  width: 11px;
  height: 11px;
  z-index: 219;
}
#Shape_23_copy {
  border-radius: 50%;
  background-color: rgb(197, 40, 33);
  position: absolute;
  left: 1063px;
  top: 281px;
  width: 11px;
  height: 11px;
  z-index: 220;
}
#Shape_23_copy_2 {
  border-radius: 50%;
  background-color: rgb(197, 40, 33);
  position: absolute;
  left: 1082px;
  top: 281px;
  width: 11px;
  height: 11px;
  z-index: 221;
}







#Star_Tour {
  background-image: url("Star Tour.png");
  position: absolute;
  left: 175px;
  top: 118px;
  width: 929px;
  height: 180px;
  z-index: 217;
}
#_930x180 {
  background-image: url("930x180.png");
  position: absolute;
  left: 175px;
  top: 118px;
  /*width: 930px;
  height: 180px;*/
  z-index: 216;
}
#MENU {
  position: absolute;
  left: 176px;
  top: 310px;
  /*width: 1280px;
  height: 2799px;*/
  z-index: 214;
}
#_______________________________________________ {
  font-size: 11px;
  font-family: "HelveticaNeueLTStd";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: left;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.75);
  position: absolute;
  left: 268.859px;
  top: 330.9px;
  z-index: 201;
}
#NYHEDER________KENDTE________UNDERHOLDNING_____ {
  font-size: 11px;
  font-family: "HelveticaNeueLTStd";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: left;
  text-shadow: 0px 1px 0px rgba(57, 57, 57, 0.004);
  -moz-transform: matrix( 1.16555689978784,0,0,1.16555689978784,0,0);
  -webkit-transform: matrix( 1.16555689978784,0,0,1.16555689978784,0,0);
  -ms-transform: matrix( 1.16555689978784,0,0,1.16555689978784,0,0);
  position: absolute;
  left: 333.367px;
  top: 330.4px;
  z-index: 200;
}
#Forside___Debat___Politik___Samfund___Indenrigs {
  font-size: 11px;
  font-family: "HelveticaNeueLTStd";
  color: rgb(77, 77, 77);
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 193.937px;
  top: 356.756px;
  z-index: 399;
}
#Navigation_Bar {
  background-image: url("Navigation Bar.png");
  position: absolute;
  left: 175px;
  top: 315px;
  width: 930px;
  height: 42px;
  z-index: 197;
}
#_930x40 {
  background-image: url("930x40.png");
  position: absolute;
  left: 175px;
  top: 317px;
  width: 930px;
  height: 40px;
  z-index: 196;
}
#HOT {
  position: absolute;
  left: 172px;
  top: 377px;
  /*width: 1280px;
  height: 2799px;*/
  z-index: 194;
}
#MEST_L�ST {
  font-size: 13px;
  font-family: "Impact";
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.6);
  -moz-transform: matrix( 0.70710679664086,-0.70710676573224,0.70710676573224,0.70710679664086,0,0);
  -webkit-transform: matrix( 0.70710679664086,-0.70710676573224,0.70710676573224,0.70710679664086,0,0);
  -ms-transform: matrix( 0.70710679664086,-0.70710676573224,0.70710676573224,0.70710679664086,0,0);
  position: absolute;
  left: 180.863px;
  top: 409.7px;
  z-index: 193;
}
#light {
  background-image: url("light.png");
  opacity: 0.2;
  position: absolute;
  left: 172px;
  top: 377px;
  width: 104px;
  height: 104px;
  z-index: 192;
}
#shadow_top {
  border-radius: 3px;
  background-image: -moz-linear-gradient( 90deg, rgb(146,200,9) 0%, rgb(171,208,78) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(146,200,9) 0%, rgb(171,208,78) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(146,200,9) 0%, rgb(171,208,78) 100%);
  opacity: 0.051;
  position: absolute;
  left: 172px;
  top: 377px;
  width: 105px;
  height: 105px;
  z-index: 191;
}
#shadow_btm {
  border-radius: 3px;
  background-image: -moz-linear-gradient( 90deg, rgb(146,200,9) 0%, rgb(171,208,78) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(146,200,9) 0%, rgb(171,208,78) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(146,200,9) 0%, rgb(171,208,78) 100%);
  opacity: 0.051;
  position: absolute;
  left: 172px;
  top: 392px;
  width: 105px;
  height: 90px;
  z-index: 190;
}
#drop_shadow {
  background-image: url("drop shadow.png");
  opacity: 0.502;
  position: absolute;
  left: 175px;
  top: 380px;
  width: 115px;
  height: 115px;
  z-index: 188;
}
#top_curl {
  background-image: url("top curl.png");
  position: absolute;
  left: 264px;
  top: 376px;
  width: 10px;
  height: 4px;
  z-index: 187;
}
#btm_curl {
  background-image: url("btm curl.png");
  position: absolute;
  left: 171px;
  top: 469px;
  width: 4px;
  height: 10px;
  z-index: 186;
}
#INFO {
  position: absolute;
  left: 0px;
  top: 0px;
  /*width: 1280px;
  height: 2799px;*/
  z-index: 184;
}
#_1 {
  position: absolute;
  left: 0px;
  top: 0px;
 /* width: 1280px;
  height: 2799px;*/
  z-index: 183;
}
#Layer_20 {
  background-image: url("Layer 20.png");
  position: absolute;
  left: 175px;
  top: 380px;
  width: 430px;
  height: 250px;
  z-index: 182;
}
 
#Danmark_Michelin__restauranter__me {
  font-size: 36px;
  font-family: "HelveticaNeueLTStd";
  color: rgb(0, 0, 0);
  line-height: 1;
 text-align: left;
  position: absolute;
left: 607.637px;
  top: 380.805px;
  width: 186px;
  height: 209px;
  z-index: 180;
}
#_430x250 {
  background-image: url("430x250.png");
  position: absolute;
  left: 175px;
  top: 380px;
  width: 430px;
  height: 250px;
  z-index: 179;
}
#_2_2 {
  position: absolute;
  left: 0px;
  top: 0px;
  /*width: 1280px;
  height: 2799px;*/
  z-index: 177;
}
#mx_dk___Opret_ny_debat {
  font-size: 11px;
  font-family: "Helvetica";
  color: rgb(0, 0, 0);
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 283.982px;
  top: 734.589px;
  z-index: 176;
}
#Champagnedreng{
  font-size: 36px;
  font-family: "HelveticaNeue";
  color: rgb(0, 0, 0);
  font-weight: bold;
  line-height: 1;
  text-align: left;
  position: absolute;
  left: 282.937px;
  top: 650.805px;
  width: 467px;
  height: 70px;
  z-index: 175;
}
#Layer_23 {
  background-image: url("Layer 23.png");
  position: absolute;
  left: 175px;
  top: 650px;
  width: 100px;
  height: 100px;
  z-index: 174;
}
#_100x100 {
  background-image: url("100x100.png");
  position: absolute;
  left: 175px;
  top: 650px;
  width: 100px;
  height: 100px;
  z-index: 172;
}
#_6 {
  position: absolute;
  left: 0px;
  top: 0px;
  /*width: 1280px;
  height: 2799px;*/
  z-index: 170;
}
#mx_dk___19_debat_indl�g {
  font-size: 12.512px;
  font-family: "Helvetica";
  color: rgb(44, 44, 44);
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  -moz-transform: matrix( 0.85670852741367,0,0,0.87918237279321,0,0);
  -webkit-transform: matrix( 0.85670852741367,0,0,0.87918237279321,0,0);
  -ms-transform: matrix( 0.85670852741367,0,0,0.87918237279321,0,0);
  position: absolute;
  left: 502.002px;
  top: 972.658px;
  z-index: 169;
}
#Stuntmand_blandt_forsvundne_flypassagerer {
  font-size: 30px;
  font-family: "HelveticaNeueLTStd";
  color: rgb(197, 40, 33);
  line-height: 1;
  text-align: right;
  -moz-transform: matrix( 0.97443778893321,0,0,1,0,0);
  -webkit-transform: matrix( 0.97443778893321,0,0,1,0,0);
  -ms-transform: matrix( 0.97443778893321,0,0,1,0,0);
  position: absolute;
  left: 476.508px;
  top: 780.893px;
  width: 122.066px;
  height: 141.875px;
  z-index: 168;
}
#Layer_27 {
  background-image: url("Layer 27.png");
  position: absolute;
  left: 628px;
  top: 774px;
  width: 170px;
  height: 215px;
  z-index: 167;
}
#_170x215 {
  background-image: url("170x215.png");
  position: absolute;
  left: 629px;
  top: 774px;
  width: 166px;
  height: 215px;
  z-index: 166;
}
#_6_2 {
  position: absolute;
  left: 0px;
  top: 0px;
  /*width: 1280px;
  height: 2799px;*/
  z-index: 164;
}
#mx_dk___41_debat_indl�g {
  font-size: 12.512px;
  font-family: "Helvetica";
  color: rgb(44, 44, 44);
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  -moz-transform: matrix( 0.85670852741367,0,0,0.87918237279321,0,0);
  -webkit-transform: matrix( 0.85670852741367,0,0,0.87918237279321,0,0);
  -ms-transform: matrix( 0.85670852741367,0,0,0.87918237279321,0,0);
  position: absolute;
  left: 183.002px;
  top: 972.658px;
  z-index: 163;
}
#Kvindelig_knivmorder_stikker_igen {
  font-size: 30px;
  font-family: "HelveticaNeue";
  color: rgb(197, 40, 33);
  font-weight: bold;
  line-height: 1;
  text-align: right;
  -moz-transform: matrix( 0.97443778893321,0,0,1,0,0);
  -webkit-transform: matrix( 0.97443778893321,0,0,1,0,0);
  -ms-transform: matrix( 0.97443778893321,0,0,1,0,0);
  position: absolute;
  left: 165.013px;
  top: 780.893px;
  width: 128.875px;
  height: 117.87px;
  z-index: 162;
}
#Layer_45 {
  background-image: url("Layer 45.png");
  position: absolute;
  left: 308px;
  top: 774px;
  width: 171px;
  height: 215px;
  z-index: 161;
}
#_170x215 {
  background-image: url("170x215.png");
  position: absolute;
  left: 319px;
  top: 774px;
  width: 165px;
  height: 215px;
  z-index: 160;
}
#_7 {
  position: absolute;
  left: 0px;
  top: 0px;
  /*width: 1280px;
  height: 2799px;*/
  z-index: 158;
}
#mx_dk___41_debat_indl�g {
  font-size: 9px;
  font-family: "Helvetica";
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 177.974px;
  top: 1323.545px;
  z-index: 157;
}
#Derfor{
  font-size: 24.711px;
  font-family: "HelveticaNeueLTStd";
  color: rgb(255, 255, 255);
  line-height: 1;
  text-align: left;
  -moz-transform: matrix( 0.97121767520519,0,0,0.97121767520519,0,0);
  -webkit-transform: matrix( 0.97121767520519,0,0,0.97121767520519,0,0);
  -ms-transform: matrix( 0.97121767520519,0,0,0.97121767520519,0,0);
  position: absolute;
  left: 177.774px;
  top: 1200.804px;
  width: 139.327px;
  height: 67.546px;
  z-index: 156;
}
#Layer_28 {
  background-image: url("Layer 28.png");
  position: absolute;
  left: 175px;
  top: 1199px;
  width: 160px;
  height: 138px;
  z-index: 155;
}
#Layer_28c {
  background-image: url("Layer 28 copy.png");
  position: absolute;
  left: 175px;
  top: 1358px;
  width: 160px;
  height: 138px;
  z-index: 150;
}
#_8 {
  position: absolute;
  left: 0px;
  top: 0px;
 /* width: 1280px;
  height: 2799px;*/
  z-index: 153;
}
#_8 {
  font-size: 24px;
  font-family: "HelveticaNeueLTStd";
  color: rgb(255, 255, 255);
  line-height: 1;
  text-align: left;
  position: absolute;
  left: 181.57px;
  top: 1382.952px;
  width: 133px;
  height: 119px;
  z-index: 152;
}
#mx_dk___41_debat_indl�g {
  font-size: 9px;
  font-family: "Helvetica";
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 177.974px;
  top: 1481.545px;
  z-index: 151;
}

#_9 {
  position: absolute;
  left: 0px;
  top: 0px;
  /*width: 1280px;
  height: 2799px;*/
  z-index: 148;
}
#_8 {
  font-size: 24px;
  font-family: "HelveticaNeueLTStd";
  color: rgb(0, 0, 0);
  line-height: 1;
  text-align: left;
  position: absolute;
  left: 344.937px;
  top: 1217.97px;
  width: 214px;
  height: 68px;
  z-index: 147;
}
#mx_dk___41_debat_indl�g {
  font-size: 9px;
  font-family: "Helvetica";
  color: rgb(0, 0, 0);
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 344.974px;
  top: 1282.545px;
  z-index: 146;
}
#Layer_38 {
  background-image: url("Layer 38.png");
  position: absolute;
  left: 346px;
  top: 1296px;
  width: 220px;
  height: 200px;
  z-index: 145;
}
#_220x200 {
  background-image: url("220x200.png");
  position: absolute;
  left: 346px;
  top: 1296px;
  width: 220px;
  height: 200px;
  z-index: 144;
}
#_10 {
  position: absolute;
  left: 0px;
  top: 0px;
  /*width: 1280px;
  height: 2799px;*/
  z-index: 142;
}
#_8 {
  font-size: 24px;
  font-family: "HelveticaNeueLTStd";
  color: rgb(0, 0, 0);
  line-height: 1;
  text-align: left;
  position: absolute;
  left: 576.937px;
  top: 1218.972px;
  width: 211px;
  height: 67px;
  z-index: 141;
}
#mx_dk___41_debat_indl�g {
  font-size: 9px;
  font-family: "Helvetica";
  color: rgb(0, 0, 0);
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 579.974px;
  top: 1282.545px;
  z-index: 140;
}
#Layer_37 {
  background-image: url("Layer 37.png");
  position: absolute;
  left: 579px;
  top: 1296px;
  width: 220px;
  height: 200px;
  z-index: 139;
}
#_220x200 {
  background-image: url("220x200.png");
  position: absolute;
  left: 579px;
  top: 1296px;
  width: 220px;
  height: 200px;
  z-index: 138;
}
#_11 {
  position: absolute;
  left: 0px;
  top: 0px;
  /*width: 1280px;
  height: 2799px;*/
  z-index: 136;
}
#mx_dk___36_debat_indl�g {
  font-size: 11px;
  font-family: "Helvetica";
  color: rgb(44, 44, 44);
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 283.982px;
  top: 1613.589px;
  z-index: 135;
}
#Den_stumper_vist_lidt_Fagforening_raser_over_fraek_uniform {
  font-size: 30px;
  font-family: "HelveticaNeue";
  color: rgb(197, 40, 33);
  font-weight: bold;
  line-height: 1;
  text-align: left;
  position: absolute;
  left: 282.844px;
  top: 1537.828px;
  width: 481px;
  height: 53px;
  z-index: 134;
}
#Layer_22 {
  background-image: url("Layer 22.png");
  position: absolute;
  left: 175px;
  top: 1529px;
  width: 100px;
  height: 100px;
  z-index: 133;
}
#Layer_22c {
  background-image: url("Layer 22 copy.png");
  position: absolute;
  left: 175px;
  top: 1799px;
  width: 100px;
  height: 100px;
  z-index: 121;
}
#_100x100 {
  background-image: url("100x100.png");
  position: absolute;
  left: 175px;
  top: 1529px;
  width: 100px;
  height: 100px;
  z-index: 132;
}
#_12 {
  position: absolute;
  left: 0px;
  top: 0px;
  /*width: 1280px;
  height: 2799px;*/
  z-index: 130;
}
#mx_dk___11_debat_indl�g {
  font-size: 11px;
  font-family: "Helvetica";
  color: rgb(44, 44, 44);
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 283.982px;
  top: 1749.589px;
  z-index: 129;
}
#VIDEO{
  font-size: 30px;
  font-family: "HelveticaNeue";
  color: rgb(197, 40, 33);
  font-weight: bold;
  line-height: 1;
  text-align: left;
  position: absolute;
  left: 281.855px;
  top: 1675.828px;
  width: 454px;
  height: 60px;
  z-index: 128;
}
#teaserbreit_copy {
  background-image: url("teaserbreit copy.png");
  position: absolute;
  left: 175px;
  top: 1666px;
  width: 100px;
  height: 100px;
  z-index: 127;
}
#_100x100 {
  background-image: url("100x100.png");
  position: absolute;
  left: 175px;
  top: 1665px;
  width: 100px;
  height: 100px;
  z-index: 126;
}
#_13 {
  position: absolute;
  left: 0px;
  top: 0px;
  /*width: 1280px;
  height: 2799px;*/
  z-index: 124;
}
#mx_dk___41_debat_indl�g {
  font-size: 11px;
  font-family: "Helvetica";
  color: rgb(44, 44, 44);
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 283.982px;
  top: 1883.589px;
  z-index: 123;
}
#Hvadsker{
  font-size: 30px;
  font-family: "HelveticaNeue";
  color: rgb(197, 40, 33);
  font-weight: bold;
  line-height: 1;
  text-align: left;
  position: absolute;
  left: 282.884px;
  top: 1809.828px;
  width: 463px;
  height: 60px;
  z-index: 122;
}

#_100x100 {
  background-image: url("100x100.png");
  position: absolute;
  left: 175px;
  top: 1799px;
  width: 100px;
  height: 100px;
  z-index: 120;
}
#_16 {
  position: absolute;
  left: 0px;
  top: 0px;
  /*width: 1280px;
  height: 2799px;*/
  z-index: 118;
}
#_1 {
  font-size: 24px;
  font-family: "HelveticaNeueLTStd";
  color: rgb(0, 0, 0);
  line-height: 1;
  text-align: left;
  position: absolute;
  /*left: 177.498px;
  top: 2289.96px;*/
  width: 292px;
  height: 43px;
  z-index: 117;
}
#mx_dk___1_debat_indl�g {
  font-size: 11px;
  font-family: "Helvetica";
  color: rgb(44, 44, 44);
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  position: absolute;
  /*left: 177.982px;
  top: 2335.589px;*/
  z-index: 116;
}
#_2 {
  font-size: 24px;
  font-family: "HelveticaNeueLTStd";
  color: rgb(0, 0, 0);
  line-height: 1;
  text-align: left;
  position: absolute;
  left: 498.937px;
  top: 2288.984px;
  width: 274px;
  height: 44px;
  z-index: 115;
}
#mx_dk___51_debat_indl�g {
  font-size: 11px;
  font-family: "Helvetica";
  color: rgb(44, 44, 44);
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  position: absolute;
  /*left: 177.982px;
  top: 2431.589px;*/
  z-index: 114;
}
#_3 {
  font-size: 24px;
  font-family: "HelveticaNeueLTStd";
  color: rgb(0, 0, 0);
  line-height: 1;
  text-align: left;
  position: absolute;
  left: 179.834px;
  top: 2387.96px;
  width: 236px;
  height: 48px;
  z-index: 113;
}
#mx_dk___16_debat_indl�g {
  font-size: 11px;
  font-family: "Helvetica";
  color: rgb(44, 44, 44);
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  position: absolute;
  /*left: 499.982px;
  top: 2335.589px;*/
  z-index: 112;
}
#_4 {
  font-size: 24px;
  font-family: "HelveticaNeueLTStd";
  color: rgb(0, 0, 0);
  line-height: 1;
  text-align: left;
  position: absolute;
  left: 498.937px;
  top: 2388.984px;
  width: 223px;
  height: 43px;
  z-index: 111;
}
#mx_dk___7_debat_indl�g {
  font-size: 11px;
  font-family: "Helvetica";
  color: rgb(44, 44, 44);
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 499.982px;
  top: 2431.589px;
  z-index: 110;
}
#Layer_33 {
  background-image: url("Layer 33.png");
  position: absolute;
  left: 0px;
  top: 0px;
  width: 0px;
  height: 0px;
  z-index: 109;
}
#SENEST_DEBATTER {
  position: absolute;
  left: 0px;
  top: 0px;
  /*width: 1280px;
  height: 2799px;*/
  z-index: 106;
}
#SENESTE_DEBATTER {
  font-size: 38.882px;
  font-family: "HelveticaNeue";
  color: rgb(197, 40, 33);
  font-weight: bold;
  line-height: 0.463;
  text-align: left;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004);
  -moz-transform: matrix( 0.46293359608226,0,0,0.46293359608226,0,0);
  -webkit-transform: matrix( 0.46293359608226,0,0,0.46293359608226,0,0);
  -ms-transform: matrix( 0.46293359608226,0,0,0.46293359608226,0,0);
  position: absolute;
  left: 747.515px;
  top: 388.999px;
  z-index: 105;
}
#Danmark{
  font-size: 13px;
  font-family: "Helvetica";
  color: rgb(94, 94, 94);
  font-weight: bold;
  line-height: 1.385;
  text-align: left;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004);
  position: absolute;
  left: 815.981px;
  top: 442.057px;
  width: 268px;
  height: 192px;
  z-index: 104;
}
#_______________________________________________ {
  font-size: 11px;
  font-family: "Georgia";
  color: rgb(184, 184, 184);
  line-height: 1.636;
  text-align: left;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004);
  position: absolute;
  left: 819px;
  top: 457.191px;
  z-index: 103;
}
#_300x250_copy_2 {
  background-image: url("300x250 copy 2.png");
  position: absolute;
  left: 805px;
  top: 380px;
  width: 300px;
  height: 250px;
  z-index: 102;
}
#_300x250 {
  background-image: url("300x250.png");
  position: absolute;
  left: 805px;
  top: 380px;
  width: 300px;
  height: 250px;
  z-index: 101;
}
#REKLAME_1 {
  position: absolute;
   left: 805px;
  top: 650px;
  /*width: 1280px;
  height: 2799px;*/
  z-index: 99;
}
#Layer_40 {
  background-image: url("Layer 40.png");
  position: absolute;
  left: 805px;
  top: 643px;
  width: 300px;
  height: 250px;
  z-index: 98;
}
#_300x250 {
  background-image: url("300x250.png");
  position: absolute;
  left: 804px;
  top: 643px;
  width: 300px;
  height: 250px;
  z-index: 97;
}
#PROMO {
  position: absolute;
  left: 805px;
  top: 910px;
  /*width: 1280px;
  height: 2799px;*/
  z-index: 95;
}
 


 
#_300x60 {
  background-image: url("300x60.png");
  position: absolute;
  left: 804px;
  top: 929px;
  width: 300px;
  height: 60px;
  z-index: 88;
}
#HOROSKOP {
  position: absolute;
 left: 805px;
  top: 1200px;
  /*width: 1280px;
  height: 2799px;*/
  z-index: 86;
}
#DAGENS_HOROSKOP {
  font-size: 17.977px;
  font-family: "HelveticaNeue";
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1;
  text-align: left;
  text-shadow: 0px 1px 0px rgba(57, 57, 57, 0.004);
  -moz-transform: matrix( 1,0,0,1.00129291373239,0,0);
  -webkit-transform: matrix( 1,0,0,1.00129291373239,0,0);
  -ms-transform: matrix( 1,0,0,1.00129291373239,0,0);
  position: absolute;
  left: 833.843px;
  top: 1212.011px;
  z-index: 85;
}
#Fisk_13__marts_2014 {
  font-size: 17.977px;
  font-family: "HelveticaNeue";
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: left;
  text-shadow: 0px 1px 0px rgba(57, 57, 57, 0.004);
  -moz-transform: matrix( 1,0,0,1.00129291373239,0,0);
  -webkit-transform: matrix( 1,0,0,1.00129291373239,0,0);
  -ms-transform: matrix( 1,0,0,1.00129291373239,0,0);
  position: absolute;
  left: 823.369px;
  top: 1242.178px;
  width: 71.951px;
  height: 27.426px;
  z-index: 84;
}
#Der_er_grobund_for_at_du_bliver_im�dekommet_p�_ {
  font-size: 11.984px;
  font-family: "HelveticaNeue";
  color: rgb(255, 255, 255);
  line-height: 0.918;
  text-align: left;
  text-shadow: 0px 1px 0px rgba(57, 57, 57, 0.004);
  -moz-transform: matrix( 1,0,0,1.00129291373239,0,0);
  -webkit-transform: matrix( 1,0,0,1.00129291373239,0,0);
  -ms-transform: matrix( 1,0,0,1.00129291373239,0,0);
  position: absolute;
  left: 818.61px;
  top: 1296.137px;
  width: 144.655px;
  height: 94.736px;
  z-index: 83;
}
#icon {
  background-image: url("icon.png");
  position: absolute;
  left: 976px;
  top: 1246px;
  width: 112px;
  height: 112px;
  z-index: 82;
}
#Layer_51 {
  background-image: url("Layer 51.png");
  position: absolute;
  left: 805px;
  top: 1199px;
  width: 300px;
  height: 190px;
  z-index: 81;
}
#_200x190 {
  background-image: url("200x190.png");
  position: absolute;
  left: 805px;
  top: 1199px;
  width: 300px;
  height: 190px;
  z-index: 80;
}
#REKLAME_2 {
  position: absolute;
  left: 0px;
  top: 0px;
  /*width: 1280px;
  height: 2799px;*/
  z-index: 78;
}
#Layer_49 {
  background-image: url("Layer 49.png");
  position: absolute;
  left: 805px;
  top: 1404px;
  width: 300px;
  height: 250px;
  z-index: 77;
}
#_300x250 {
  background-image: url("300x250.png");
  position: absolute;
  left: 803px;
  top: 1402px;
  width: 300px;
  height: 250px;
  z-index: 76;
}
#REKLAME_3 {
  position: absolute;
  left: 0px;
  top: 0px;
  /*width: 1280px;
  height: 2799px;*/
  z-index: 74;
}
#Layer_55 {
  background-image: url("Layer 55.png");
  position: absolute;
  left: 859px;
  top: 1012px;
  width: 232px;
  height: 85px;
  z-index: 73;
}
#Layer_54 {
  background-image: url("Layer 54.png");
  position: absolute;
  left: 176px;
  top: 1004px;
  width: 930px;
  height: 180px;
  z-index: 72;
}
#_728x90 {
  background-image: url("728x90.png");
  position: absolute;
  left: 175px;
  top: 1009px;
  width: 728px;
  height: 90px;
  z-index: 71;
}
#VEJRET {
  position: absolute;
 left: 805px;
 top: 1670px;
  /*width: 1280px;
  height: 2799px;*/
  z-index: 69;
}
#Layer_47 {
  background-image: url("Layer 47.png");
  position: absolute;
  left: 805px;
  top: 1668px;
  width: 300px;
  height: 250px;
  z-index: 68;
}
#_300x250 {
  background-image: url("300x250.png");
  position: absolute;
  left: 803px;
  top: 1668px;
  width: 300px;
  height: 250px;
  z-index: 67;
}
#REKLAME_5 {
  position: absolute;
 
  left: 805px;
  top: 1940px; 
 
 /* width: 1280px;
  height: 2799px;*/
  z-index: 65;
}
#Star_Tour {
  background-image: url("Star Tour.png");
  position: absolute;
  left: 175px;
  top: 118px;
  width: 929px;
  height: 180px;
  z-index: 217;
}

#_300x250 {
  background-image: url("300x250.png");
  position: absolute;
  left: 804px;
  top: 1936px;
  width: 301px;
  height: 251px;
  z-index: 63;
}
#SENESTE_NYHEDER_left {
  position: absolute;
  left: 175px;
  top: 1940px; 
  /*width: 1280px;
  height: 2799px;*/
  z-index: 61;
}
#SENESTE_NYHEDER {
 
  background-image: url("300x250 copy 2.png");
  position: absolute;
  left: 802px;
  top: 368px;
  /*width: 300px;
  height: 250px;*/
  z-index: 102;
 

}
#I_Israel_nasser_de_ortodokse_j�der_p�_samfund__ {
  font-size: 13px;
  font-family: "Helvetica";
  color: rgb(0, 0, 0);
  font-weight: bold;
  line-height: 1.385;
  text-align: left;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004);
  position: absolute;
  left: 183.937px;
  top: 2008.121px;
  width: 287px;
  height: 230px;
  z-index: 59;
}
#_______________________________________________ {
  font-size: 11px;
  font-family: "Georgia";
  color: rgb(184, 184, 184);
  line-height: 1.636;
  text-align: left;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004);
  position: absolute;
  left: 186px;
  top: 2023.191px;
  z-index: 58;
}
#_310x310 {
  background-image: url("310x310.png");
  position: absolute;
  left: 175px;
  top: 1936px;
  width: 310px;
  height: 310px;
  z-index: 57;
}
#MEST_LASTE_DEBATTER_right {
 position: absolute;
  left: 490px;
  top: 1940px; 
  /*width: 1280px;
  height: 2799px;*/
  z-index: 54;
}
 
 
#_______________________________________________ {
  font-size: 11px;
  font-family: "Georgia";
  color: rgb(184, 184, 184);
  line-height: 1.636;
  text-align: left;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004);
  position: absolute;
  left: 500px;
  top: 2023.191px;
  z-index: 51;
}
#_310x310 {
  background-image: url("310x310.png");
  position: absolute;
  left: 489px;
  top: 1936px;
  width: 310px;
  height: 310px;
  z-index: 50;
}
#TVGUIDE {
  position: absolute;
  left: 805px;
  top: 2210px; 
  /*width: 1280px;
  height: 2799px;*/
  z-index: 48;
}
#_1_copy_3 {
  position: absolute;
  left: 0px;
  top: 0px;
  /*width: 1280px;
  height: 2799px;*/
  z-index: 47;
}
 


#_1_copy_2 {
  position: absolute;
  left: 0px;
  top: 0px;
  /*width: 1280px;
  height: 2799px;*/
  z-index: 42;
}
 
#How_I_Met_Your_Mother {
  font-size: 17px;
  font-family: "HelveticaNeueLTStd";
  color: rgb(255, 255, 255);
  line-height: 1.059;
  text-align: left;
  text-shadow: 0px 1px 0px rgba(57, 57, 57, 0.004);
  -moz-transform: matrix( 0.90545859975659,0,0,0.90545859975659,0,0);
  -webkit-transform: matrix( 0.90545859975659,0,0,0.90545859975659,0,0);
  -ms-transform: matrix( 0.90545859975659,0,0,0.90545859975659,0,0);
  position: absolute;
  /*left: 891.076px;
  top: 2363.499px;*/
  z-index: 40;
}
#TV3 {
  background-image: url("TV3.png");
  position: absolute;
  left: 841px;
  top: 2343px;
  width: 44px;
  height: 44px;
  z-index: 39;
}
#_1_copy {
  position: absolute;
  left: 0px;
  top: 0px;
  /*width: 1280px;
  height: 2799px;*/
  z-index: 37;
}
  
#How_I_Met_Your_Mother {
  font-size: 17px;
  font-family: "HelveticaNeueLTStd";
  color: rgb(255, 255, 255);
  line-height: 1.059;
  text-align: left;
  text-shadow: 0px 1px 0px rgba(57, 57, 57, 0.004);
  -moz-transform: matrix( 0.90545859975659,0,0,0.90545859975659,0,0);
  -webkit-transform: matrix( 0.90545859975659,0,0,0.90545859975659,0,0);
  -ms-transform: matrix( 0.90545859975659,0,0,0.90545859975659,0,0);
  position: absolute;
  left: 891.076px;
  top: 2313.499px;
  z-index: 35;
}
#TV3 {
  background-image: url("TV3.png");
  position: absolute;
  left: 841px;
  top: 2293px;
  width: 44px;
  height: 44px;
  z-index: 34;
}
#_1 {
  position: absolute;
  left: 0px;
  top: 0px;
 /* width: 1280px;
  height: 2799px;*/
  z-index: 32;
}
 
#How_I_Met_Your_Mother {
  font-size: 17px;
  font-family: "HelveticaNeueLTStd";
  color: rgb(255, 255, 255);
  line-height: 1.059;
  text-align: left;
  text-shadow: 0px 1px 0px rgba(57, 57, 57, 0.004);
  -moz-transform: matrix( 0.90545859975659,0,0,0.90545859975659,0,0);
  -webkit-transform: matrix( 0.90545859975659,0,0,0.90545859975659,0,0);
  -ms-transform: matrix( 0.90545859975659,0,0,0.90545859975659,0,0);
  position: absolute;
  left: 891.076px;
  top: 2264.499px;
  z-index: 30;
}
#TV3 {
  background-image: url("TV3.png");
  position: absolute;
  left: 841px;
  top: 2243px;
  width: 44px;
  height: 44px;
  z-index: 29;
}
#TV_GUIDE {
  font-size: 18px;
  font-family: "HelveticaNeue";
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  text-shadow: 0px 1px 0px rgba(57, 57, 57, 0.004);
  -moz-transform: matrix( 0.98360655737705,0,0,1,0,0);
  -webkit-transform: matrix( 0.98360655737705,0,0,1,0,0);
  -ms-transform: matrix( 0.98360655737705,0,0,1,0,0);
  position: absolute;
  left: 826.3px;
  top: 2211.2px;
  z-index: 27;
}
#Shape_37 {
  background-color: rgb(197, 40, 33);
  position: absolute;
  left: 805px;
  top: 2205px;
  width: 300px;
  height: 252px;
  z-index: 26;
}
#_300x250_copy {
  background-image: url("300x250 copy.png");
  position: absolute;
  left: 807px;
  top: 2207px;
  width: 295px;
  height: 250px;
  z-index: 25;
}
#FOOTER {
  position: absolute;
  left: 0px;
  top: 0px;
  /*width: 1280px;
  height: 2799px;*/
  z-index: 23;
}
#LEFT {
  position: absolute;
  left: 0px;
  top: 0px;
  /*width: 1280px;
  height: 2799px;*/
  z-index: 22;
}
#Om_SOL_Annoncering_Kontakt_os_Hj�lp_og_Support_ {
  font-size: 12px;
  font-family: "HelveticaNeueLTStd";
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 3;
  text-align: left;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
  position: absolute;
  left: 534.937px;
  top: 2552.992px;
  width: 126px;
  height: 227px;
  z-index: 21;
}
#_______________________________________________ {
  font-size: 11px;
  font-family: "Georgia";
  color: rgb(143, 143, 143);
  line-height: 3.273;
  text-align: left;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.1);
  position: absolute;
  left: 534px;
  top: 2552.188px;
  z-index: 20;
}
#MID {
  position: absolute;
  left: 0px;
  top: 0px;
  /*width: 1280px;
  height: 2799px;*/
  z-index: 18;
}
#NYHEDER_KENDTE_UNDERHOLDNING_REJSER_SUNDHED_FRI {
  font-size: 12px;
  font-family: "HelveticaNeueLTStd";
  color: rgb(255, 255, 255);
  line-height: 3;
  text-align: left;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
  position: absolute;
  left: 724.105px;
  top: 2552.992px;
  width: 108px;
  height: 227px;
  z-index: 17;
}
#_______________________________________________ {
  font-size: 11px;
  font-family: "Georgia";
  color: rgb(143, 143, 143);
  line-height: 3.273;
  text-align: left;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.1);
  position: absolute;
  left: 724px;
  top: 2552.188px;
  z-index: 16;
}
#RIGHT {
  position: absolute;
  left: 0px;
  top: 0px;
  /*width: 1280px;
  height: 2799px;*/
  z-index: 14;
}
#HOROSKOPER_TV_GUIDE_BACKUP_SHOP_KONKURRENCER_VE {
  font-size: 12px;
  font-family: "HelveticaNeueLTStd";
  color: rgb(255, 255, 255);
  line-height: 3;
  text-align: left;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
  position: absolute;
  left: 913.384px;
  top: 2552.992px;
  width: 104px;
  height: 226px;
  z-index: 13;
}
#_______________________________________________ {
  font-size: 11px;
  font-family: "Georgia";
  color: rgb(143, 143, 143);
  line-height: 3.273;
  text-align: left;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.1);
  position: absolute;
  left: 912px;
  top: 2552.188px;
  z-index: 12;
}
 
#Footer {
  background-image: url("Footer.png");
  position: absolute;
  left: 175px;
  top: 2473px;
  /*width: 931px;
  height: 326px;*/
  z-index: 9;
}
#SKYBANNERS {
  position: absolute;
  left: 0px;
  top: 0px;
  /*width: 1280px;
  height: 2799px;*/
  z-index: 7;
}
#Skyleft {
  background-image: url("Skyleft.png");
  position: absolute;
  left: 0px;
  top: 380px;
  width: 160px;
  height: 600px;
  z-index: 6;
}

 
#Skyright {
  background-image: url("Skyright.png");
  position: absolute;
  left: 1119px;
  top: 380px;
  width: 161px;
  height: 600px;
  z-index: 5;
}
#Derforsko{
  font-size: 24.711px;
  font-family: "HelveticaNeueLTStd";
  color: rgb(255, 255, 255);
  line-height: 1;
  text-align: left;
  -moz-transform: matrix( 0.97121767520519,0,0,0.97121767520519,0,0);
  -webkit-transform: matrix( 0.97121767520519,0,0,0.97121767520519,0,0);
  -ms-transform: matrix( 0.97121767520519,0,0,0.97121767520519,0,0);
  position: absolute;
  left: 177.774px;
  top: 1360px;
  width: 139.327px;
  height: 67.546px;
  z-index: 156;
}

#Herfar{
  font-size: 18px;
  font-family: "Helvetica";
  color: rgb(0, 0, 0);
  font-weight: bold;
  line-height: 1.385;
  text-align: left;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004);
  position: absolute;
  left: 350px;
 top: 1200.804px;
  width: 200px;
  height: 192px;
  z-index: 104;
}

#Rygte{
  font-size: 18px;
  font-family: "Helvetica";
 color: rgb(0, 0, 0);
  font-weight: bold;
  line-height: 1.385;
  text-align: left;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004);
  position: absolute;
  left: 580px;
  top: 1200.804px;
  width: 200px;
  height: 192px;
  z-index: 104;
}

#ButtonCopy{
  background-image: url("Button.png");
  position: absolute;
  left: 799px;
  top: 17px;
  width: 27px;
  height: 27px;
  z-index: 349;
}


#MenuTexte{
  font-size: 11px;
  font-family: "HelveticaNeueLTStd";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: left;
  text-shadow: 0px 1px 0px rgba(57, 57, 57, 0.004);
  -moz-transform: matrix( 1.16555689978784,0,0,1.16555689978784,0,0);
  -webkit-transform: matrix( 1.16555689978784,0,0,1.16555689978784,0,0);
  -ms-transform: matrix( 1.16555689978784,0,0,1.16555689978784,0,0);
  position: absolute;
  left: 280.367px;
  top: 325px;
  z-index: 400;
}
 
#tiretMenu{
  font-size: 11px;
  font-family: "HelveticaNeueLTStd";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: left;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.75);
  position: absolute;
  left: 268.859px;
  top: 330.9px;
  z-index: 801;
}

 #SENESTE_DEBATTER {
  font-size: 38.882px;
  font-family: "HelveticaNeue";
  color: rgb(197, 40, 33);
  font-weight: bold;
  line-height: 0.463;
  text-align: left;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004);
  -moz-transform: matrix( 0.46293359608226,0,0,0.46293359608226,0,0);
  -webkit-transform: matrix( 0.46293359608226,0,0,0.46293359608226,0,0);
  -ms-transform: matrix( 0.46293359608226,0,0,0.46293359608226,0,0);
  position: absolute;
  left: 740.515px;
  top: 381.999px;
  z-index: 305;
}
 #Danmark_skal{
  font-size: 13px;
  font-family: "Helvetica";
  color: rgb(94, 94, 94);
  font-weight: bold;
  line-height: 1.385;
  text-align: left;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004);
  position: absolute;
  left: 808.981px;
  top: 435.057px;
  width: 268px;
  height: 192px;
  z-index: 504;
}
 

#TV_GUIDE{
  font-size: 18px;
  font-family: "HelveticaNeue";
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  text-shadow: 0px 1px 0px rgba(57, 57, 57, 0.004);
  -moz-transform: matrix( 0.98360655737705,0,0,1,0,0);
  -webkit-transform: matrix( 0.98360655737705,0,0,1,0,0);
  -ms-transform: matrix( 0.98360655737705,0,0,1,0,0);
  position: absolute;
  left: 826.3px;
  top: 2211.2px;
  z-index: 527;
}

#Shape_37{
  background-color: rgb(197, 40, 33);
  position: absolute;
  left: 805px;
  top: 2205px;
  width: 300px;
  height: 252px;
  z-index: 526;
}
#TV3 {
  background-image: url("TV3.png");
  position: absolute;
  left: 841px;
  top: 2243px;
  width: 44px;
  height: 44px;
  z-index: 529;
}
#How_I_Met_Your_Mother {
  font-size: 17px;
  font-family: "HelveticaNeueLTStd";
  color: rgb(255, 255, 255);
  line-height: 1.059;
  text-align: left;
  text-shadow: 0px 1px 0px rgba(57, 57, 57, 0.004);
  -moz-transform: matrix( 0.90545859975659,0,0,0.90545859975659,0,0);
  -webkit-transform: matrix( 0.90545859975659,0,0,0.90545859975659,0,0);
  -ms-transform: matrix( 0.90545859975659,0,0,0.90545859975659,0,0);
  position: absolute;
  left: 891.076px;
  top: 2264.499px;
  z-index: 530;
}
#23Marts{
  font-size: 12px;
  font-family: "HelveticaNeueLTStd";
  color: rgb(255, 255, 255);
  line-height: 1.417;
  text-align: left;
  -moz-transform: matrix( 0.90545859975659,0,0,0.90545859975659,0,0);
  -webkit-transform: matrix( 0.90545859975659,0,0,0.90545859975659,0,0);
  -ms-transform: matrix( 0.90545859975659,0,0,0.90545859975659,0,0);
  position: absolute;
  left: 893.563px;
  top: 2266.967px;
  z-index: 531;
}


#MESTL�STEDEBATTER{
  font-size: 38.882px;
  font-family: "HelveticaNeue";
  color: rgb(197, 40, 33);
  font-weight: bold;
  line-height: 0.463;
  text-align: left;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004);
  -moz-transform: matrix( 0.46293359608226,0,0,0.46293359608226,0,0);
  -webkit-transform: matrix( 0.46293359608226,0,0,0.46293359608226,0,0);
  -ms-transform: matrix( 0.46293359608226,0,0,0.46293359608226,0,0);
  position: absolute;
  left: 414.754px;
  top: 1949.999px;
  z-index: 553;
}
#Overgrebmuslime{
  font-size: 13px;
  font-family: "Helvetica";
  color: rgb(0, 0, 0);
  font-weight: bold;
  line-height: 1.385;
  text-align: left;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004);
  position: absolute;
  left: 498.03px;
  top: 1990.121px;
  width: 262px;
  height: 228px;
  z-index: 552;
}
#EMAIL2{
  font-size: 14px;
  font-family: "HelveticaNeue";
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  -moz-transform: matrix( 1.35990046957245,0,0,1.35990046957246,0,0);
  -webkit-transform: matrix( 1.35990046957245,0,0,1.35990046957246,0,0);
  -ms-transform: matrix( 1.35990046957245,0,0,1.35990046957246,0,0);
  position: absolute;
  left: 940.566px;
  top: 20.6px;
  z-index: 544;
}
#MESSAGE4{
  font-size: 14px;
  font-family: "HelveticaNeue";
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  -moz-transform: matrix( 1.35990046957245,0,0,1.35990046957246,0,0);
  -webkit-transform: matrix( 1.35990046957245,0,0,1.35990046957246,0,0);
  -ms-transform: matrix( 1.35990046957245,0,0,1.35990046957246,0,0);
  position: absolute;
  left: 807.363px;
  top: 20.6px;
  z-index: 550;
}


#Layer_50 {
  background-image: url("Layer 50.png");
  position: absolute;
  left: 805px;
  top: 907px;
  width: 300px;
  height: 82px;
  z-index: 589;
}


#Shop {
  background-image: url("Shop.png");
  position: absolute;
  left: 1038px;
  top: 941px;
  width: 31px;
  height: 23px;
  z-index: 592;
}

#Backup {
  background-image: url("Backup.png");
  position: absolute;
  left: 836px;
  top: 939px;
  width: 26px;
  height: 26px;
  z-index: 591;
}
#Mail {
  background-image: url("Mail.png");
  position: absolute;
  left: 933px;
  top: 941px;
  width: 34px;
  height: 22px;
  z-index: 590;
}

#SOL_SERVICES {
  font-size: 38.882px;
  font-family: "HelveticaNeue";
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 0.463;
  text-align: left;
  text-shadow: 0px 1px 0px rgba(57, 57, 57, 0.004);
  -moz-transform: matrix( 0.46293359608226,0,0,0.46293359608226,0,0);
  -webkit-transform: matrix( 0.46293359608226,0,0,0.46293359608226,0,0);
  -ms-transform: matrix( 0.46293359608226,0,0,0.46293359608226,0,0);
  position: absolute;
  left: 768.426px;
  top: 911.999px;
  z-index: 594;
}
#BACKUPMAIL{
  font-size: 12px;
  font-family: "HelveticaNeueLTStd";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: left;
  text-shadow: 0px 1px 0px rgba(57, 57, 57, 0.004);
  -moz-transform: matrix( 0.84772806253948,0,0,0.84772806253948,0,0);
  -webkit-transform: matrix( 0.84772806253948,0,0,0.84772806253948,0,0);
  -ms-transform: matrix( 0.84772806253948,0,0,0.84772806253948,0,0);
  position: absolute;
  left: 835.557px;
  top: 966.8px;
  z-index: 593;
}

#SENESTE_NYHEDER {
  font-size: 38.882px;
  font-family: "HelveticaNeue";
  color: rgb(197, 40, 33);
  font-weight: bold;
  line-height: 0.463;
  text-align: left;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004);
  -moz-transform: matrix( 0.46293359608226,0,0,0.46293359608226,0,0);
  -webkit-transform: matrix( 0.46293359608226,0,0,0.46293359608226,0,0);
  -ms-transform: matrix( 0.46293359608226,0,0,0.46293359608226,0,0);
  position: absolute;
  left: 116.002px;
  top: 1949.999px;
  z-index: 560;
}


#I_Israel_nasser{
  font-size: 13px;
  font-family: "Helvetica";
  color: rgb(0, 0, 0);
  font-weight: bold;
  line-height: 1.385;
  text-align: left;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004);
  position: absolute;
  left: 183.937px;
  top: 1990.121px;
  width: 287px;
  height: 230px;
  z-index: 559;
}

#tiret{
  font-size: 11px;
  font-family: "Georgia";
  color: rgb(184, 184, 184);
  line-height: 1.636;
  text-align: left;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004);
  position: absolute;
  left: 186px;
  top: 2023.191px;
  z-index: 558;
}

 #MEST_LASTE_DEBATTER {
  font-size: 38.882px;
  font-family: "HelveticaNeue";
  color: rgb(197, 40, 33);
  font-weight: bold;
  line-height: 0.463;
  text-align: left;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004);
  -moz-transform: matrix( 0.46293359608226,0,0,0.46293359608226,0,0);
  -webkit-transform: matrix( 0.46293359608226,0,0,0.46293359608226,0,0);
  -ms-transform: matrix( 0.46293359608226,0,0,0.46293359608226,0,0);
  position: absolute;
  left: 414.754px;
  top: 1949.999px;
  z-index: 553;
}

#tiretMestLast{
 
  font-size: 11px;
  font-family: "Georgia";
  color: rgb(184, 184, 184);
  line-height: 1.636;
  text-align: left;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004);
  position: absolute;
  left: 500px;
  top: 2023.191px;
  z-index: 551;
}



#mxdk56{
  font-size: 11px;
  font-family: "Helvetica";
  color: rgb(44, 44, 44);
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 608.982px;
  top: 614.589px;
  z-index: 581;
}



 #mxdkOpretnydebat {
  font-size: 11px;
  font-family: "Helvetica";
  color: rgb(0, 0, 0);
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 283.982px;
  top: 734.589px;
  z-index: 576;
}


#mxdk19 {
  font-size: 12.512px;
  font-family: "Helvetica";
  color: rgb(44, 44, 44);
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  -moz-transform: matrix( 0.85670852741367,0,0,0.87918237279321,0,0);
  -webkit-transform: matrix( 0.85670852741367,0,0,0.87918237279321,0,0);
  -ms-transform: matrix( 0.85670852741367,0,0,0.87918237279321,0,0);
  position: absolute;
  left: 502.002px;
  top: 972.658px;
  z-index: 669;
}


#mxdk41debat {
  font-size: 12.512px;
  font-family: "Helvetica";
  color: rgb(44, 44, 44);
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  -moz-transform: matrix( 0.85670852741367,0,0,0.87918237279321,0,0);
  -webkit-transform: matrix( 0.85670852741367,0,0,0.87918237279321,0,0);
  -ms-transform: matrix( 0.85670852741367,0,0,0.87918237279321,0,0);
  position: absolute;
  left: 168.002px;
  top: 972.658px;
  z-index: 663;
}


#mdk19debatindlag {
  font-size: 12.512px;
  font-family: "Helvetica";
  color: rgb(44, 44, 44);
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  -moz-transform: matrix( 0.85670852741367,0,0,0.87918237279321,0,0);
  -webkit-transform: matrix( 0.85670852741367,0,0,0.87918237279321,0,0);
  -ms-transform: matrix( 0.85670852741367,0,0,0.87918237279321,0,0);
  position: absolute;
  left: 480.002px;
  top: 972.658px;
  z-index: 669;
}
#mxdkDerfor{
  font-size: 9px;
  font-family: "Helvetica";
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 177.974px;
  top: 1323.545px;
  z-index: 657;
}

#mxdkHerfar{
  font-size: 9px;
  font-family: "Helvetica";
  color: rgb(0, 0, 0);
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 344.974px;
  top: 1282.545px;
  z-index: 646;
}


#mxdkRygte {
  font-size: 9px;
  font-family: "Helvetica";
  color: rgb(0, 0, 0);
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 579.974px;
  top: 1282.545px;
  z-index: 640;
}


#mxdkDenStumper{
  font-size: 11px;
  font-family: "Helvetica";
  color: rgb(44, 44, 44);
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 283.982px;
  top: 1613.589px;
  z-index: 635;
}

#mxdkVideo{
  font-size: 11px;
  font-family: "Helvetica";
  color: rgb(44, 44, 44);
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 283.982px;
  top: 1749.589px;
  z-index: 629;
}
#mxdkHvad{
  font-size: 11px;
  font-family: "Helvetica";
  color: rgb(44, 44, 44);
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 283.982px;
  top: 1883.589px;
  z-index: 623;
}
#mxdkDansk {
  font-size: 9px;
  font-family: "Helvetica";
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 177.974px;
  top: 1481.545px;
  z-index: 651;
}
#copy_2 {
  background-image: url("copy 2.png");
  position: absolute;
  left: 805px;
  top: 380px;
  width: 300px;
  height: 250px;
  z-index: 602;
}
#SENESTEDEBATTER {
  font-size: 38.882px;
  font-family: "HelveticaNeue";
  color: rgb(197, 40, 33);
  font-weight: bold;
  line-height: 0.463;
  text-align: left;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004);
  -moz-transform: matrix( 0.46293359608226,0,0,0.46293359608226,0,0);
  -webkit-transform: matrix( 0.46293359608226,0,0,0.46293359608226,0,0);
  -ms-transform: matrix( 0.46293359608226,0,0,0.46293359608226,0,0);
  position: absolute;
   left: 710.981px;
  top: 388.999px;
  z-index: 605;
}
#Danmarkskal {
  font-size: 13px;
  font-family: "Helvetica";
  color: rgb(94, 94, 94);
  font-weight: bold;
  line-height: 1.385;
  text-align: left;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004);
  position: absolute;
 left: 810.981px;
 top: 420.057px;
  width: 268px;
  height: 192px;
  z-index: 604;
}
#tiretDebat{
  font-size: 11px;
  font-family: "Georgia";
  color: rgb(184, 184, 184);
  line-height: 1.636;
  text-align: left;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004);
  position: absolute;
  left: 819px;
  top: 457.191px;
  z-index: 603;
}


#tiretSENESTEDEBATTER {
  font-size: 11px;
  font-family: "Georgia";
  color: rgb(184, 184, 184);
  line-height: 1.636;
  text-align: left;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004);
  position: absolute;
  left: 819px;
  top: 457.191px;
  z-index: 703;
}

#SOL_dk_erFOOTER{
  font-size: 13px;
  font-family: "HelveticaNeueLTStd";
  color: rgb(255, 255, 255);
  line-height: 1.385;
  text-align: left;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
  position: absolute;
  left: 203.924px;
  top: 2531.619px;
  z-index: 600;
}
#NYHEDERKENDTE{
  font-size: 12px;
  font-family: "HelveticaNeueLTStd";
  color: rgb(255, 255, 255);
  line-height: 3;
  text-align: left;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
  position: absolute;
  left: 724.105px;
  top: 2531.619px;
  width: 108px;
  height: 227px;
  z-index: 717;
}
#HOROSKOPER_TV_GUIDE_BACKUP_SHOP_KONKURRENCER_VE {
  font-size: 12px;
  font-family: "HelveticaNeueLTStd";
  color: rgb(255, 255, 255);
  line-height: 3;
  text-align: left;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
  position: absolute;
  left: 913.384px;
top: 2531.619px;
  width: 104px;
  height: 226px;
  z-index: 613;
}


#Om_SOL_Annoncering_Kontakt_os_Hjalp_og_Support_ {
  font-size: 12px;
  font-family: "HelveticaNeueLTStd";
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 3;
  text-align: left;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
  position: absolute;
  left: 534.937px;
 top: 2531.619px;
  width: 126px;
  height: 227px;
  z-index: 621;
}
 

#danske{
  font-size: 24px;
  font-family: "HelveticaNeueLTStd";
  color: rgb(0, 0, 0);
  line-height: 1;
  text-align: left;
  position: absolute;
  left: 177.498px;
  top: 2275.00px;
  width: 292px;
  height: 43px;
  z-index: 517;
}

#mxdkdanske{
  font-size: 11px;
  font-family: "Helvetica";
  color: rgb(44, 44, 44);
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 177.982px;
  top: 2335.589px;
  z-index: 116;
}
#Chokskifte {
  font-size: 24px;
  font-family: "HelveticaNeueLTStd";
  color: rgb(0, 0, 0);
  line-height: 1;
  text-align: left;
  position: absolute;
  left: 498.937px;
top: 2275.00px;
  width: 274px;
  height: 44px;
  z-index: 115;
}
#mxdkChokskifte{
  font-size: 11px;
  font-family: "Helvetica";
  color: rgb(44, 44, 44);
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 499.982px;
  top: 2335.589px;
  z-index: 112;
}
#Massiv{
  font-size: 24px;
  font-family: "HelveticaNeueLTStd";
  color: rgb(0, 0, 0);
  line-height: 1;
  text-align: left;
  position: absolute;
  left: 179.834px;
  top: 2375.0px;
  width: 292px;
  height: 48px;
  z-index: 113;
}
#mxdkMassiv{
  font-size: 11px;
  font-family: "Helvetica";
  color: rgb(44, 44, 44);
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 177.982px;
  top: 2431.589px;
  z-index: 114;
}


#Herer{
  font-size: 24px;
  font-family: "HelveticaNeueLTStd";
  color: rgb(0, 0, 0);
  line-height: 1;
  text-align: left;
  position: absolute;
  left: 498.937px;
top: 2375.0px;
 width: 250px;
  height: 43px;
  z-index: 111;
}
#mxdkHerer{
  font-size: 11px;
  font-family: "Helvetica";
  color: rgb(44, 44, 44);
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 499.982px;
  top: 2431.589px;
  z-index: 110;
}

/*div No 1 de TV Guide */
#TV3 {
  background-image: url("TV3.png");
  position: absolute;
  left: 841px;
  top: 2243px;
  width: 44px;
  height: 44px;
  z-index: 744;
}

#Marts_9__2014{
  font-size: 12px;
  font-family: "HelveticaNeueLTStd";
  color: rgb(255, 255, 255);
  line-height: 1.417;
  text-align: left;
  -moz-transform: matrix( 0.90545859975659,0,0,0.90545859975659,0,0);
  -webkit-transform: matrix( 0.90545859975659,0,0,0.90545859975659,0,0);
  -ms-transform: matrix( 0.90545859975659,0,0,0.90545859975659,0,0);
  position: absolute;
  left: 893.563px;
  top: 2244.967px;
  z-index: 531;
}


#How_I_Met_Your_Mother {
  font-size: 17px;
  font-family: "HelveticaNeueLTStd";
  color: rgb(255, 255, 255);
  line-height: 1.059;
  text-align: left;
  text-shadow: 0px 1px 0px rgba(57, 57, 57, 0.004);
  -moz-transform: matrix( 0.90545859975659,0,0,0.90545859975659,0,0);
  -webkit-transform: matrix( 0.90545859975659,0,0,0.90545859975659,0,0);
  -ms-transform: matrix( 0.90545859975659,0,0,0.90545859975659,0,0);
  position: absolute;
  left: 891.076px;
   top: 2264.499px;
  z-index: 545;
}



/*div No 2 de TV Guide */
#TV32 {
  background-image: url("TV3.png");
  position: absolute;
  left: 841px;
  top: 2293px;
  width: 44px;
  height: 44px;
  z-index: 744;
}

#Marts_9__20142{
  font-size: 12px;
  font-family: "HelveticaNeueLTStd";
  color: rgb(255, 255, 255);
  line-height: 1.417;
  text-align: left;
  -moz-transform: matrix( 0.90545859975659,0,0,0.90545859975659,0,0);
  -webkit-transform: matrix( 0.90545859975659,0,0,0.90545859975659,0,0);
  -ms-transform: matrix( 0.90545859975659,0,0,0.90545859975659,0,0);
  position: absolute;
  left: 893.563px;
 top:2293.967px;
  z-index: 531;
}


#How_I_Met_Your_Mother2 {
  font-size: 17px;
  font-family: "HelveticaNeueLTStd";
  color: rgb(255, 255, 255);
  line-height: 1.059;
  text-align: left;
  text-shadow: 0px 1px 0px rgba(57, 57, 57, 0.004);
  -moz-transform: matrix( 0.90545859975659,0,0,0.90545859975659,0,0);
  -webkit-transform: matrix( 0.90545859975659,0,0,0.90545859975659,0,0);
  -ms-transform: matrix( 0.90545859975659,0,0,0.90545859975659,0,0);
  position: absolute;
  left: 891.076px;
 top: 2313.499px;
z-index: 545;
}

/*div No 3 de TV Guide */
#TV33 {
  background-image: url("TV3.png");
  position: absolute;
  left: 841px;
  top: 2343px;
  width: 44px;
  height: 44px;
   z-index: 744;
}

#Marts_9__20143{
  font-size: 12px;
  font-family: "HelveticaNeueLTStd";
  color: rgb(255, 255, 255);
  line-height: 1.417;
  text-align: left;
  -moz-transform: matrix( 0.90545859975659,0,0,0.90545859975659,0,0);
  -webkit-transform: matrix( 0.90545859975659,0,0,0.90545859975659,0,0);
  -ms-transform: matrix( 0.90545859975659,0,0,0.90545859975659,0,0);
  position: absolute;
  left: 893.563px;
 top:2342.967px;
  z-index: 531;
}


#How_I_Met_Your_Mother3 {
  font-size: 17px;
  font-family: "HelveticaNeueLTStd";
  color: rgb(255, 255, 255);
  line-height: 1.059;
  text-align: left;
  text-shadow: 0px 1px 0px rgba(57, 57, 57, 0.004);
  -moz-transform: matrix( 0.90545859975659,0,0,0.90545859975659,0,0);
  -webkit-transform: matrix( 0.90545859975659,0,0,0.90545859975659,0,0);
  -ms-transform: matrix( 0.90545859975659,0,0,0.90545859975659,0,0);
  position: absolute;
  left: 891.076px;
   top: 2363.499px;
 z-index: 545;
}

/*div No 4 de TV Guide */
#TV34 {
  background-image: url("TV3.png");
  position: absolute;
  left: 841px;
  top: 2393px;
  width: 44px;
  height: 44px;
  z-index: 744;
}

#Marts_9__20144{
  font-size: 12px;
  font-family: "HelveticaNeueLTStd";
  color: rgb(255, 255, 255);
  line-height: 1.417;
  text-align: left;
  -moz-transform: matrix( 0.90545859975659,0,0,0.90545859975659,0,0);
  -webkit-transform: matrix( 0.90545859975659,0,0,0.90545859975659,0,0);
  -ms-transform: matrix( 0.90545859975659,0,0,0.90545859975659,0,0);
  position: absolute;
  left: 893.563px;
  top:2391.967px;
  z-index: 531;
}


#How_I_Met_Your_Mother4 {
  font-size: 17px;
  font-family: "HelveticaNeueLTStd";
  color: rgb(255, 255, 255);
  line-height: 1.059;
  text-align: left;
  text-shadow: 0px 1px 0px rgba(57, 57, 57, 0.004);
  -moz-transform: matrix( 0.90545859975659,0,0,0.90545859975659,0,0);
  -webkit-transform: matrix( 0.90545859975659,0,0,0.90545859975659,0,0);
  -ms-transform: matrix( 0.90545859975659,0,0,0.90545859975659,0,0);
  position: absolute;
  left: 891.076px;
  top: 2413.499px;
 z-index: 545;
}



#position1{
  position: absolute;
  left: 200px;
  top: 380px;
  width: 160px;
  height: 600px;
  z-index: 600;
}
#position2{
  position: absolute;
  left: 370px;
  top: 380px;
  width: 160px;
  height: 600px;
  z-index: 600;
}
#position3{
  position: absolute;
  left: 540px;
  top: 380px;
  width: 160px;
  height: 600px;
  z-index: 600;
}
#position4{
  position: absolute;
  left: 710px;
  top: 380px;
  width: 160px;
  height: 600px;
  z-index: 600;
}
#position0 {
  position: absolute;
  left: 0px;
  top: 380px;
  width: 160px;
  height: 600px;
  z-index: 600;
}
#position5{
  position: absolute;
  left: 1119px;
  top: 380px;
  width: 161px;
  height: 600px;
  z-index: 5;
}

#div_publicite_add{
background-color:#FFFFFF;
  position: absolute;
  left: 350px;
  top: 500px;
  width: 550px;
  height: 500px;
   z-index: 6000;
}

#div_showdetails{
background-color:#FFFFFF;
  position: absolute;
  left: 350px;
  top: 650px;
  width: 550px;
  height: 600px;
   z-index: 6000;
}