<!DOCTYPE html>
<html lang="fr">
{% block head %}

	<!-- Basics -->
	
	<meta charset="utf-8">
        <link rel="icon" sizes="16x16" href="{{ asset('favicon.ico') }}" /> 
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	
	<title></title>

	<!-- CSS -->
 	
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/myappesprit/css/styles_login.css') }}"/> 
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/myappesprit/css/reset_login.css') }}"/> 
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/myappesprit/css/animate_login.css') }}"/> 
 
	
 {%endblock%}
<body>
	<div id="container">
		  {% block fos_user_content %}
                  {% endblock fos_user_content %}
	</div>
	
</body>
</html>	