 



<form role="form" method="post" {{ form_enctype(form) }} >

    <div>

                                    {{form_widget(form.tags) }} 

    </div>

    <div>

                                  {{form_widget(form._token)}}
        <input type="submit"   value="Publish" class="alt_btn">
        <input type="submit" href="{{path('my_app_esprit_homepage') }}" value="Reset">


    </div> 


</form>






