
{% extends 'MyAppEspritBundle:BackOffice:administration.html.twig' %}

 {% block showpub %}   {% include 'TwitterBootstrapBundle::stylesheets.html.twig'%}

                <header><h3 class="tabs_involved">Content Banners Manager</h3>
                    <ul class="tabs">
                        <li><a href="#tab1">Posts</a></li>
                        <li><a href="#tab2">Comments</a></li>
                    </ul>
                </header>  


<div id="tab1" class="tab_content">
    <table class="tablesorter" cellspacing="0"> 
        <thead> 
            <tr> 
                <th> </th> 
                <th>No</th> 
                  <th> </th> 
                <th>Position</th> 
                <th>Actions</th> 
            </tr> 
        </thead> 
        <tbody> 
            {% for publicite2 in publicite2 %}
            <tr> 
                <td><input type="checkbox"></td> 
                <td>{{publicite2.id}}</td> 
                <td>{#{app.user.roles|join }#}</td> 
                <td>{{publicite2.position}}</td> 


                <td>
                    <a href="#">
                        <img src="{{ asset('bundles/myappesprit/images/admin/icn_edit.png') }}" alt="" />
                    </a>   &nbsp;&nbsp;
                    <a href="#">
                        <img src="{{ asset('bundles/myappesprit/images/admin/icn_trash.png') }}" alt="" />
                    </a> 
                </td>
            </tr>
             {%endfor%}
        </tbody> 
    </table>
</div> 


 {% endblock  %}


