{# empty Twig template #}
<div style="position: absolute;left: 850px;top: 470px;z-index: 9000;">
{% for tag in tag %}
    <tr>
        <td>
            <a href="{#{path('my_app_esprit_homepage') }#}" style="text-decoration:none;color:black;"> 
                <b style="color: silver"> {#{sujet.datecreation|date('H:i')}#}</b></td>&nbsp;&nbsp;<td>
                <b style="color: black"> {{tag.title}}</b></td></br>
            <b style="color: silver">-------------------------------------------</b></br>
        </a>
        
    </tr>
{% endfor%}
</div>



