.contain {
    width: 500px;
    margin: 0 auto;
    position: relative;
    padding: 20px
}
.notificationicon {
    height: 44px;
    position: absolute;
    top: 20px;
    left: 170px
}
.notificationicon:hover {
    background: rgba(0, 0, 0, 0.5)
}
.notifications {
    max-width: 300px;
    width: 300px;
    background: #fff;
    border: 1px solid #ccc;
    padding: 0;
    box-shadow: 0 0 20px #666;
    position: absolute;
    opacity: 1;
    top: 65px;
    transition: .2s;
    opacity: 0;
    left: 100px
}
.notifications:before {
    content: '';
    height: 10px;
    width: 10px;
    display: block;
    position: absolute;
    top: -20px;
    left: 140px;
    border-color: transparent transparent #fff
}
.notifications.open {
    opacity: 1;
    transition: .2s
}
.notifications li {
    padding: 5px;
    list-style-type: none
}
.notifications li.titlebar {
    border-bottom: 1px solid #ccc;
    color: #666;
    font-size: 12px;
    cursor: inherit;
    padding: 2px 5px
}
.notifications li.titlebar:hover {
    background: #fff
}
.notifications li.titlebar .settings {
    float: right;
    cursor: pointer
}
.notifications li.seeall {
    text-align: center;
    font-size: 12px;
    min-height: 30px;
    text-transform: uppercase;
    position: relative;
    border-top: 1px solid #ccc
}
.notifications li.seeall a {
    background: #f5f5f5;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: #007fff;
    padding-top: 8px
}
.notifications .notifbox {
    max-height: 300px
}
.notifications .notifbox li {
    color: #666
}
.notifications .notifbox li a {
    color: #666
}
.notifications .notifbox li.unread {
    background: #e5f2ff
}
.notifications .notifbox li.notif {
    min-height: 70px;
    position: relative;
   
}
.notifications .notifbox li.notif:last-child {
    border-bottom: none
}
.notifications .notifbox li.notif .imageblock {
    width: 70px;
    position: absolute;
    left: 5px
}
.notifications .notifbox li.notif .imageblock .notifimage {
    height: 60px
}
.notifications .notifbox li.notif .messageblock {
    width: 200px;
    position: relative;
    left: 70px;
    font-size: 12px
}
.notifications .notifbox li.notif .messageblock .message a {
    color: #007fff
}
.notifications .notifbox li.notif .messageblock .messageaction {
    min-height: 30px;
    margin-bottom: 5px
}
.notifications .notifbox li.notif .messageblock .messageaction .button {
    font-weight: 400;
    text-transform: uppercase
}
.notifications .notifbox li.notif .messageblock .messageaction .button.success,
.notifications .notifbox li.notif .messageblock .messageaction .button.alert {
    color: #fff
}
.notifications .notifbox li.notif .messageblock .messageinfo {
    font-size: 10px;
    color: #999
}
.badge {
    position: absolute;
    top: 30px;
    right: -20px
}
.cerclenotif {
    font-size: 14px;
    color: #fff;
    font-weight: 700;
    line-height: 1.2;
    text-align: left;
    -moz-transform: matrix(1.35990046957245, 0, 0, 1.35990046957246, 0, 0);
    -webkit-transform: matrix(1.35990046957245, 0, 0, 1.35990046957246, 0, 0);
    -ms-transform: matrix(1.35990046957245, 0, 0, 1.35990046957246, 0, 0);
    position: absolute;
    left: 809px;
    top: 20.6px;
    z-index: 54400000;
    position: fixed
}