{# empty Twig template #}
<div class="Footer"> 
    <div class="SOL_dk_erFOOTER"  ><FONT color="FFFFFF">SOL.dk er ejet og drevet af CM-Consulting ApS </br>
        </br>Adressen er:</br> CM-Consulting ApS</br>Sankt Ann&aelig; Gade 10</br>1416 K&oslash;benhavn k</br>CVR: 27 70 45 14
        </br></br>Telefon: 89 88 38 00</br>Kontakt e-mail: solsupport@cm-consult.com</br>Brug ogs&auml; vores support-side http://support.sol.dk</br></br>
        Copyright &copy; 2014 <FONT color="#848484"> sol.dk</FONT> All Rights Reserved.</FONT> 
    </div>
    <div class="NYHEDERKENDTE" id="taillepolicefooter">ARTICLE </br>ACTUALITE</br> STYLE</br> PROFILE</br>METEO</br>FORUM </br>LOISIRS </div>
    <div class="HOROSKOPER_TV_GUIDE_BACKUP_SHOP_KONKURRENCER_VE" id="taillepolicefooter">HOROSCOPE</br>SANTE</br>BACKUP </br> SHOP</br>JEUX</br> SPORT</br> DEBAT</div>
    <div class="Om_SOL_Annoncering_Kontakt_os_Hjalp_og_Support_" id="taillepolicefooter">Om SOL</br> Annoncering</br> Kontakt os</br> HJ&AElig;LP og Support</br> Driftstatus Cookies</br>Brugsvilkar</div>
</div> 

 