 
<div class="Forside___Debat___Politik___Samfund___Indenrigs">
    <B>Forside >  

            {% if   "sujetrecent" in  routeName %} Seneste debatter {%endif%} 
            {% if   "homepage" in  routeName %} Homepage {%endif%} 
            {% if   "style_add" in  routeName %} Ajout de style {%endif%}
            
            
            {%if "voir" in  routeName%}
            <a href="{{ path('my_app_forum_sujet_sujetrecent' ) }}" >
            <u style="color:black">Debats</u></a> > 
                  {% for tag in tag %}{% if loop.index == 1 %} {{tag.title}} {%endif%}{%endfor%}
                                                  > 
                   {{sujet.sujet}}                                 
             {%endif%}
    

           {% if  "register"  in routeName %} Opret profil {%endif%}
           {% if  "login"  in routeName %} Login {%endif%}
           {% if   "change_password" in routeName %}Skift adgangskode {%endif%}
           
            {% if  "confirmed" in routeName %}   Opret profil   {%endif%}  
         
            {% if "profile_edit" in routeName %}Min profil{%endif%}
            
          
           
            
        </B>
</div>
  










