 

  <style>
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}audio,canvas,progress,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background-color:transparent}a:active,a:hover{outline:0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:bold}dfn{font-style:italic}h1{font-size:2em;margin:0.67em 0}mark{background:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}img{border:0}svg:not(:root){overflow:hidden}figure{margin:1em 40px}hr{-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;height:0}pre{overflow:auto}code,kbd,pre,samp{font-family:monospace, monospace;font-size:1em}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button{overflow:visible}button,select{text-transform:none}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}input[type="checkbox"],input[type="radio"]{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:0}input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button{height:auto}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em}legend{border:0;padding:0}textarea{overflow:auto}optgroup{font-weight:bold}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}

</style>

 <!-- <link rel='stylesheet prefetch' href='http://cdn.jsdelivr.net/foundation/4.3.1/css/foundation.min.css'>-->

    <style>
.contain {
  width: 500px;
  margin: 0 auto;
  position: relative;
  padding: 20px;
}
.notificationicon {
  /*height: 44px;
  position: absolute;
  top: 20px;
  left: 170px;*/
height: 5px;
width: 5px;
position: absolute;
top: 150px;
left: -410px;
z-index: 500000;
}
.notificationicon:hover {
  background: rgba(0, 0, 0, 0.5);
}
.notificationicon:hover i {
  color: #fff;
}
.notificationicon.on i {
  color: #ddd;
}
.notifications {
  max-width: 300px;
  width: 300px;
  background: #fff;
  border: 1px solid #ccc;
  padding: 0px;
  box-shadow: 0px 0px 20px #666;
  position: absolute;
  opacity: 1;
 // top: 65px;
  transition: .2s;
  opacity: 0;
  left: 100px;
}
.notifications:before {
  content: '';
  height: 10px;
  width: 10px;
  display: block;
  position: absolute;
  top: -20px;
  left: 140px;
  border: 10px solid #fff;
  border-color: transparent transparent #fff transparent;
}
.notifications.open {
  opacity: 1;
  transition: .2s;
  z-index: 500000;
}
.notifications li {
  padding: 5px;
  list-style-type: none;
}
.notifications li.titlebar {
  border-bottom: 1px solid #ccc;
  color: #666;
  font-size: 12px;
  cursor: inherit;
  padding: 2px 5px;
}
.notifications li.titlebar:hover {
  background: #fff;
}
.notifications li.titlebar .settings {
  float: right;
  cursor: pointer;
}
.notifications li.seeall {
  text-align: center;
  font-size: 12px;
  min-height: 30px;
  text-transform: uppercase;
  position: relative;
  border-top: 1px solid #ccc;
}
.notifications li.seeall a {
  background: #f5f5f5;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  color: #007fff;
  padding-top: 8px;
}
.notifications .notifbox {
  max-height: 300px;
  overflow: auto;
}
.notifications .notifbox li {
  color: #666;
}
.notifications .notifbox li a {
  color: #666;
}
.notifications .notifbox li.unread {
  background: #e5f2ff;
}
.notifications .notifbox li.notif {
  min-height: 70px;
  border-bottom: 1px solid #ccc;
  position: relative;
}
.notifications .notifbox li.notif:last-child {
  border-bottom: none;
}
.notifications .notifbox li.notif .imageblock {
  width: 70px;
  position: absolute;
  left: 5px;
}
.notifications .notifbox li.notif .imageblock .notifimage {
  height: 60px;
}
.notifications .notifbox li.notif .messageblock {
  width: 200px;
  position: relative;
  left: 70px;
  font-size: 12px;
}
.notifications .notifbox li.notif .messageblock .message a {
  color: #007fff;
}
.notifications .notifbox li.notif .messageblock .messageaction {
  min-height: 30px;
  margin-bottom: 5px;
}
.notifications .notifbox li.notif .messageblock .messageaction .button {
  font-weight: normal;
  text-transform: uppercase;
}
.notifications .notifbox li.notif .messageblock .messageaction .button.success,
.notifications .notifbox li.notif .messageblock .messageaction .button.alert {
  color: #fff;
}
.notifications .notifbox li.notif .messageblock .messageinfo {
  font-size: 10px;
  color: #999;
}
.badge {
  position: absolute;
  top: 30px;
  right: -20px;
}

</style>

 <script src="{{ asset('bundles/myappesprit/css/notif/modernizr.js') }}" type="text/javascript"></script>  
<script src="{{ asset('bundles/myappesprit/css/notif/prefixfree.min.js') }}" type="text/javascript"></script>
  

 

 
<div class="contain" style="position: absolute;left: 200px;top: -40px;">  
    <a href="#" class="button notificationicon on" style="left: 570px;top: 30px;background-color: transparent;">a</a> 
    
    
    <ul id="notificationMenu" class="notifications" style="left: 462px;top: 90px;">
      <li class="titlebar">
        <span class="title">Notifications</span>
        <span class="settings"><i class="icon-cog"></i>
        </span>
      </li>
      <div class="notifbox">
        <li class=" notif unread">
          <a href="#">
            <div class="imageblock"> 
              <img src="https://si0.twimg.com/profile_images/3186728694/7a0e012910e06dd1476c5edac8b9a28d_bigger.jpeg" class="notifimage"  />
            </div> 
            <div class="messageblock">
              <div class="message">This guy <strong>Jonesy</strong> has just built a tower.
              </div>
              <div class="messageinfo">
                <i class="icon-trophy"></i>2 hours ago
              </div>
            </div>
          </a>
        </li>
        <li class=" notif unread">
          <a href="#">
            <div class="imageblock">
              <img src="https://si0.twimg.com/profile_images/712543138/Self-Portrait-in-Stripes_bigger.jpg" class="notifimage"  />
            </div> 
            <div class="messageblock">
              <div class="message">
                <strong>Pete Nawara</strong> want's to drink beer with you
              </div>
              <div class="messageaction">
                <a class="button tiny success">accept</a> 
                <a class="button tiny alert">decline</a>
              </div>
              <div class="messageinfo">
                <i class="icon-flag"></i>3 hour ago
              </div>
            </div>
          </a>
        </li>
        <li class=" notif">
          <a href="#">
            <div class="imageblock"><img src="https://si0.twimg.com/profile_images/3312733808/5caeaec6d93114657c40fb257f933d28_bigger.jpeg" class="notifimage" />
            </div> 
            <div class="messageblock">
              <div class="message"><strong>Gary LaPlante</strong> has talked some trash: "<em>Buncha bitches.</em>
              </div>
              <div class="messageinfo">
                <i class="icon-comment"></i>4 hours ago
              </div>
            </div>
          </a>
        </li>
        <li class=" notif">
          <a href="#">
            <div class="imageblock"><img src="https://si0.twimg.com/profile_images/378800000168755934/c05afa029d7e42c59e7cca0ea0564a86_bigger.jpeg" class="notifimage" /></div> 
            <div class="messageblock">
              <div class="message"><strong>Jason Nawara</strong> is probably playing <strong>Smite</strong> right now.
              </div>
              <div class="messageinfo"><i class="icon-trophy"></i>Yesterday</div>
            </div>
          </a>
        </li>
        <li class=" notif">
          <a href="#">
            <div class="imageblock"><img src="https://si0.twimg.com/sticky/default_profile_images/default_profile_2_bigger.png" class="notifimage"  />
            </div> 
            <div class="messageblock">
              <div class="message"><strong>Danny DK12</strong> got a sweet fade!</div>

              <div class="messageinfo"><i class="icon-flag"></i>Yesterday</div>
            </div>
          </a>
        </li>
        <li class=" notif">
          <a href="#">
            <div class="imageblock"><img src="https://si0.twimg.com/profile_images/1091562021/me-small_bigger.png" class="notifimage"  /></div> 
            <div class="messageblock">
              <div class="message"><strong>Roidberg</strong> left you a comment: "<em>Hey buddy! Nice toenails!"</em></div>
              <div class="messageinfo"><i class="icon-comment"></i>2 hours ago</div>
            </div>
          </a>
        </li>
      </div>
      <li class="seeall">
        <a>See All</a>
      </li>
    </ul>
  </div> 
</body>
 
  <script src='http://codepen.io/assets/libs/fullpage/jquery.js'></script>
  <script src='http://cdnjs.cloudflare.com/ajax/libs/foundation/4.1.2/js/foundation.min.js'></script>
 
<script src="{{ asset('bundles/myappesprit/css/notif/index.js') }}" type="text/javascript"></script>
 
 
  <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/myappesprit/css/notif/foundation.min.css') }}"/> 