 



 
 
        
        {#{dump(app.request.get('_locale'))}#}
        
            {#% for locale in ['en', 'fr'] %#}

{#% endfor %#}
<html>
    <body>
    <a href="{{path('my_app_esprit_translation') }}" > {{ 'Hello'|trans }}! </a>   
        
        
    </body>
</html>





