{# empty Twig template #}

<div class="social-network" style="  padding-left: 170px; margin-bottom: -30px; width: 740px;"> 
 
 
 
	  <a style="color: #c52821;font-weight: bold;" href="http://www.facebook.com" target="_blank"><img src="http://tanitjobs.com/templates/Tanitjobs/main/images/social_facebook_box.png" alt="Tanitjobs.com sur Facebook">Facebook</a>
	  
	  <a style="color: #c52821;font-weight: bold;" href="https://twitter.com" target="_blank"><img src="http://tanitjobs.com/templates/Tanitjobs/main/images/social_twitter_box.png" alt="Tanitjobs.com sur Twitter">Twitter</a>
	  <a style="color: #c52821;font-weight: bold;" href="http://www.linkedin.com/groups?gid=7413774&amp;trk=my_groups-b-grp-v" target="_blank"><img src="http://tanitjobs.com/templates/Tanitjobs/main/images/social_linkedin_box.png" alt="Tanitjobs.com sur Linked in">Linkedin</a> 
	   <a style="color: #c52821;font-weight: bold;" href="http://www.viadeo.com/groups/?containerId=002zr4cj4s018xp" target="_blank"><img src="http://tanitjobs.com/templates/Tanitjobs/main/images/social_viadeo_box.png" alt="Tanitjobs.com sur Viadeo">Viadeo</a>
	  
	    <a style="color: #c52821;font-weight: bold;" href="https://plus.google.com/s/Tanit%20Jobs" target="_blank"><img src="http://tanitjobs.com/templates/Tanitjobs/main/images/social_google_box.png" alt="Tanitjobs.com sur google plus">G+</a>
        <a style="color: #c52821;font-weight: bold;" href="http://www.youtube.com/channel/UCcHGB5_YrAnH3uvjowk-yvw?feature=watch" target="_blank"><img src="http://tanitjobs.com/templates/Tanitjobs/main/images/youtube_box.png" alt="Tanitjobs.com sur Youtube">Youtube</a>
       
	  
	   <a style="color: #c52821;font-weight: bold;" href="http://tanitjobs.com/listing-feeds/?feedId=10" id="mainRss" target="_blank"><img src="http://tanitjobs.com/templates/Tanitjobs/main/images/social_rss_box.png" alt="offres d'emploi en Tunisie">RSS</a> 
	   
</div>
