{% if is_granted( 'ROLE_USER' ) %} 
 <link href="{{ asset('bundles/myappesprit/css/notif/style.css') }}" rel="stylesheet" type="text/css"  />  
<div class="cerclenotif">
{{numberNotif|join}}
</div>

{% endif %}