{% if is_granted( 'ROLE_USER' ) %} 
<div style="font-size: 14px;
color: rgb(255, 255, 255);
font-weight: bold;
line-height: 1.2;
text-align: left;
-moz-transform: matrix( 1.35990046957245,0,0,1.35990046957246,0,0);
-webkit-transform: matrix( 1.35990046957245,0,0,1.35990046957246,0,0);
-ms-transform: matrix( 1.35990046957245,0,0,1.35990046957246,0,0);
position: absolute;
left: 809.0px;
top: 20.6px;
z-index: 54400000;
position: fixed;" >
    
   
{{numberNotif|join}}
</div>

{% endif %}