

{{ render(controller('MyAppEspritBundle:publicite:show')) }}
{% include 'TwitterBootstrapBundle::stylesheets.html.twig'%}
 {% block showUser %}  

<div id="showuserlist"> 



    {% for user in user %}
      
       <td>User Name
           &nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;
        {{user.username}}
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       </td>
     <td><a href="{{ path('my_app_user_edit',{'id':user.id}) }}" class="btn btn-warning btn-lg">update</a></td>
     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
     <td><a href="{{ path('my_app_user_delete',{'id':user.id}) }}" class="btn btn-warning btn-lg">delete</a></td>
     </br> </br>

    {%endfor%}
</div>

 {% endblock  %}