{# empty Twig template #}
 
 
    <form  action='{{path('my_app_esprit_menu_search')}}' method="post" {{ form_enctype(form) }} class="text_field"> 
 
    <input type="text" name="mesIds[]" value=  > 
       {{form_widget(form._token)}}   
    <input type="submit"  value="Recherche" class="" />  

   </form> 
   
